/* *{
    padding: 0;
    margin: 0;
} */

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1em;
}

.navbar .nav-links{
    display: flex;
}

.navbar .nav-links li{
    margin: 10px;
    list-style: none;
}